Task 2: Create markdown cell with title of the notebook,
Data Science Tools and Ecosystem using H1 style heading.

# Data Science Tools and Ecosystem

Task 3: Write an introductory sentence about the notebook such as follows:
 In this notebook, Data Science Tools and Ecosystem are summarized

In this notebook, Data Science Tools and Ecosystem are summarized

**Objectives:**

• Introduction to Python

• Introduction to SQL

• Introduction to R language

• Other languages for Data Science

• Data Science libraries

Task 4: List data science languages

Some of the popular languages that Data Scientist use are:
    
    1.  Python
    2.  R
    3.  SQL
    4.  Java
    5.  Scala
    6.  Julia
    7.  C++

Task 5:  List data science libraries

Some of the commonly used libraries used by Data Scientist include:
    
    1. Pandas
    2. NumPy
    3. Matplotlib
    5. Seaborn
    6. Scikit-learn
    7. Keras

Task 6: Create a table of Data Science tools

|Data Science Tools|
|-------|
|Apache Spark|
|Apache Kafka|
|Apache Airflow|
|Apache Nifi|
|Kubeflow|

Task 7: Arithmetic expression

### Below are the few examples of evaluating arithmetic expression in python

Task 8: Multiply and Add numbers

In [7]:
# Evaluating basic arithmetic expression containing multiplication and addition operations
(3*4)+5

17

Task 9: Convert minutes to hours

In [3]:
# Converting 200 minute to hours by dividing by 60
200/60

3.3333333333333335

Task 11: Author's name

## Author
Comfort O